.section1{
    width: 100%;
    height: 40vh;
    margin-top: 18vh;
    .divForBackImg{
        width: 100%;
        height: 100%;
        background-image: url("https://wallpapercave.com/wp/wp1874191.jpg");
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        .textForImg{
            color: rgb(255, 255, 255);
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            text-shadow: 4px 4px 6px black;
            font-family: sans-serif;
        }
    }
}

.categoriesText{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 50px;
        font-weight: 500;
        text-shadow: 2px 2px 2px black;
        font-family: sans-serif;
    }
}

.section2{
    width: 100%;
    margin-bottom: 50px;
    .filterDiv{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-bottom: 5px groove #E60000;
        button{
            padding: 25px;
            font-size: 20px;
            font-family: sans-serif;
            background-color: white;
            border: none;
            cursor: pointer;
            &:hover{
                background-color: #E60000;
                color: white;
            }
        }
    }
    .active{
        background-color: #E60000 !important;
        color: white !important;
    }
    .filterProducts{
        display: flex;
        gap: 60px;
        margin-top: 60px;
        justify-content: center;
        margin-left: 80px;
        .filter-panel{
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 300px;
            border: 5px solid gray;
            padding: 15px;
            border-radius: 20px;
            .rangeInp{
                width: 200px;
                margin-bottom: 30px;
                accent-color: #E60000;
            }
            input{
                margin-bottom: 30px;
            }
            #chek{
                font-size: 15px;
                cursor: pointer;
            }
            button{
                padding: 10px;
                background-color: #E60000;
                color: white;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                margin-bottom: 20px;
                &:hover{
                    background-color: white;
                    color: #E60000;
                    border: 2px solid #E60000;
                }
            }
            label{
                font-size: 18px;
                font-family: sans-serif;
            }
        }
        .product-list{
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: center;
            .product-card{
                width: 250px;
                height: 400px;
                border: 2px solid gray;
                border-radius: 20px;
                transition: box-shadow 0.3s ease; 
                box-shadow: none; 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 6px;
                &:hover{
                    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.2)
                }
                img{
                    width: 100%;
                    height: 60%;
                    object-fit: cover;
                    border-radius: 20px 20px 0 0;
                }
                h2{
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    margin-top: 10px;
                    font-family: sans-serif;
                }
                p{
                    font-size: 16px;
                    text-align: center;
                    font-family: sans-serif;
                }
                button{
                    padding: 10px;
                    background-color: #E60000;
                    color: white;
                    border: none;
                    border-radius: 20px;
                    cursor: pointer;
                    margin-bottom: 20px;
                    &:hover{
                        background-color: white;
                        color: #E60000;
                        border: 2px solid #E60000;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .section2{
        .filterProducts{
            flex-direction: column;
            margin-left: 20px;
            .filter-panel{
                margin-left: 120px;
            }
        }
        .product-list{
            gap: 10px;
            margin-left: 20px;
        }
    }
}